@use "./variables";
@use "./media-query" as mediaQuery;
@use "./mixins" as style;

@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf");
  font-weight: 700;
}

* {
  box-sizing: border-box;
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  margin: 0;
}

.logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
}
.primary-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: variables.$primary-bg;
  color: variables.$primary-text-light;

  &__logo {
    @extend .logo;
    margin-top: 1rem;
  }

  &__list {
    display: flex;
    list-style: none;
    align-items: center;
    width: 100%;
    color: variables.$primary-text-light;
    margin: 0rem;
    padding: 0;
  }
  &__item {
    @include style.body-copy(small);
    width: 100%;
    height: 100%;
    text-align: center;
  }
  &__link {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: variables.$line-color;
    padding: 0.75rem 0rem;
    &--active {
      color: variables.$primary-text-light;
      border-bottom: 4px solid variables.$primary-text-light;
      font-weight: 600;
    }
    &:hover {
      border-bottom: 4px solid variables.$primary-text-light;
    }
  }
}
.footer {
  background-color: variables.$primary-bg;
  color: variables.$primary-text-light;

  &__container {
    @include style.section-padding(mobile);
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }
  &__heading {
    @include style.section-header(small);
    @include style.header-padding(small);
    margin: 0;
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    width: 8rem;
  }
  &__icon {
    height: 1.5rem;
  }
  .company {
    display: flex;
    flex-direction: column;

    &__container {
      display: flex;
      flex-direction: column;
    }
    &__heading {
      @include style.sub-header(small);
      @include style.header-padding(small);
      margin: 0;
    }
    &__text {
      @include style.footer-copy(small);
      margin: 0;
    }
    &__email {
      @include style.footer-copy(small);
      text-decoration: none;
      color: variables.$primary-text-light;
      margin: 0;
      padding-top: 1rem;
    }
  }
  &__logo {
    @extend .logo;
    padding-top: 3rem;
  }
  &__text {
    @include style.footer-copy(small);
    @include style.header-padding(small);
    margin: 0;
    padding-bottom: 1.5rem;
  }
}
@include mediaQuery.tablet {
  .primary-nav {
    @include style.section-padding(tablet);
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &__logo {
      padding: 0;
      margin:0;
      &-link{
        margin-right: 2.25rem;
      }
    }
    &__list {
      justify-content: space-between;
      align-items: center;
      width: 10rem;
      padding-left: 2.25rem;
    }
    &__item {
      width: auto;
    }
    &__link {
      padding: 1.5rem 0;
    }
  }
  .footer {
    &__container {
      @include style.section-padding(tablet);
      position: relative;
    }
    &__heading {
      @include style.section-header(large);
      @include style.header-padding(large);
    }
    &__icons {
      position: absolute;
      top: 16%;
      left: 17rem;
    }
    .company {
      flex-direction: row;
      justify-content: flex-start;
      &__container {
        padding-right: 3rem;
      }
      &__heading {
        @include style.footer-copy(large);
        font-weight: 600;
        padding: 0 0 1.5rem 0;
      }
      &__text {
        @include style.footer-copy(large);
      }
      &__email {
        @include style.footer-copy(large);
        padding: 1.5rem 0 0;
      }
    }
    &__logo {
      padding: 0;
      position: absolute;
      right: 2.25rem;
      top: 16%;
    }
    &__text {
      @include style.footer-copy(large);
      @include style.header-padding(large);
      padding-bottom: 3rem;
    }
  }
}

@include mediaQuery.desktop {
  .primary-nav {
    padding: 0 7rem;

    &__list{
      width: 10rem;
    }
  }
  .footer {
    &__container {
      @include style.section-padding(desktop);
    }
    &__logo {
      right: 0rem;
    }
    &__icons {
      left: 15rem;
    }
  }
}
