@use "./variables";
@font-face {
    font-family: "Avenir";
    src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("otf");
    font-weight: 400;
}
@font-face {
    font-family: "Avenir";
    src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("otf");
    font-weight: 600;
}
@font-face {
    font-family: "Avenir";
    src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("otf");
    font-weight: 700;
}
*{
    box-sizing: border-box;
    font-family: "Avernir";
}
.primary-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__heading{

    }
}