$bs-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$bs-black-d: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$error: #D22D2D;
$bs-black-overlay: rgba(50,50,50,0.5);
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;