$primary-bg: #323232;
$secondary-text: #AFAFAF;
$primary-text-light: #FFFFFF;
$secondary-bg: #000000;
$line-color: #E1E1E1;
$light-bg: #FAFAFA;
$error: #D22D2D;
$black-overlay: rgba(50,50,50,0.5);
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;