@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("otf");
  font-weight: 700;
}
html, body {
  box-sizing: border-box;
  font-family: "Avenir";
  margin: 0;
}

.logo, .footer__logo, .primary-nav__logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
}

.primary-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
}
.primary-nav__logo {
  margin: 1rem 0rem;
}
.primary-nav__list {
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
  padding: 0rem;
  color: #FFFFFF;
  margin: 0rem;
}
.primary-nav__item {
  width: 100%;
  height: 100%;
  text-align: center;
}
.primary-nav__link {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #E1E1E1;
  padding: 0.5rem 0rem;
}
.primary-nav__link--active {
  color: #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
}
.primary-nav__link:hover {
  border-bottom: 4px solid #FFFFFF;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
}
.footer__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 0;
}
.footer__container {
  display: flex;
  margin-top: 1.5rem;
}
.footer__icon {
  height: 1.5rem;
  padding-right: 2rem;
}
.footer .company {
  display: flex;
  flex-direction: column;
}
.footer .company__container {
  display: flex;
  flex-direction: column;
}
.footer .company__heading {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin: 1.5rem 0rem 0rem;
}
.footer .company__text {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 1.5rem 0rem 0rem;
}
.footer .company__email {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  text-decoration: none;
  color: #FFFFFF;
  margin: 1.5rem 0rem 0rem;
}
.footer__logo {
  margin-top: 3rem;
}
.footer__text {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 1.5rem 0rem 0rem;
}

@media screen and (min-width: 768px) {
  .primary-nav {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0rem 1.5rem 0rem;
  }
  .primary-nav__logo {
    margin: 0;
    margin-right: 4rem;
  }
  .primary-nav__list {
    justify-content: space-between;
    align-items: center;
    width: 20%;
  }
  .primary-nav__item {
    width: auto;
  }
  .primary-nav__link {
    padding: 1rem 0rem;
  }
}
.hero {
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0rem;
  height: 250px;
}
.hero__layer {
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  align-items: center;
}
.hero__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  margin: 0rem;
  color: #FFFFFF;
  padding-left: 1rem;
}

.about {
  padding: 1.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
}
.about__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 0rem;
  margin-bottom: 1rem;
}
.about__img {
  width: 100%;
}
.about__quote {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 700;
  margin-bottom: 0rem;
}
.about__heading__band {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding: 1.5rem 0rem 1rem;
  margin: 0rem;
}

.photo-gallery {
  padding: 1.5rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
}
.photo-gallery__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 0rem 0rem 1rem;
}
.photo-gallery__container {
  display: flex;
  flex-direction: column;
}
.photo-gallery__img {
  width: 100%;
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
  .hero__heading {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    padding: 0rem 2rem;
  }
  .about {
    padding: 0rem 2rem;
  }
  .about__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin-top: 3rem;
  }
  .about__img {
    width: 80%;
  }
}/*# sourceMappingURL=bio.css.map */