@use "./partials/global";
@use "./partials/mixins" as style;
@use "./partials/variables";
@use "./partials/media-query" as mediaQuery;


.hero{
    background-image: url("../assets/images/hero-bio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0rem;
    height: 250px;

    &__layer{
        width: 100%;
        height: 100%;
        background-color: variables.$bs-black-overlay;
        display: flex;
        align-items: center;
        
    }
    &__heading{
        @include style.page-header(small);
        margin: 0rem;
        color: variables.$white;
        padding-left: 1rem;
    }
}

.about{
    @include style.section-padding(mobile);
    display: flex;
    flex-direction: column;
    &__heading{
        @include style.section-header(small);
        @include style.header-padding(small);
        margin: 0rem;
    }
    &__img{
        background-image: url("../assets/images/band.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 100%;
        height: 200px;
    }
    &__quote{
        @include style.sub-header(small);
        margin: 0;
        padding: 1rem 0 0;
    }
    &__artist{
        @include style.sub-header(small);
        margin: 0;
        padding-top: 0.5rem;
    }
    &__sub-container{
        display: flex;
        flex-direction: column;
    }
    &__sub-heading{
        @include style.sub-header(small);
        @include style.header-padding(small);
        margin: 0rem;
    }
    &__text{
        @include style.body-copy(small);
        margin: 0;
        &--padding{
            padding: 1rem 0;
        }
    }
    
}

.photo-gallery{
    background-color: variables.$alabaster;
    &__container{
        @include style.section-padding(mobile);
        display: flex;
        flex-direction: column;
    }
    &__heading{
        @include style.section-header(small);
        @include style.header-padding(small);
        margin: 0;
    }
    &__grid{
        display: flex;
        flex-direction: column;
    }
    &__img{
        width: 100%;
        padding-bottom: 1rem;
    }
}
.comment{
    display: flex;
    flex-direction: column;
    @include style.section-padding(mobile);
    //margin-bottom: 1rem;
    
    &__heading{
        @include style.section-header(small);
        @include style.header-padding(small);
        margin: 0;
    }
    &__container{
        display: flex;
        border-bottom: 1px solid variables.$mercury;
    }
    &__avatar{
        max-width: 36px;
        max-height: 36px;
        border-radius: 50%;
        margin-top: 1rem;
    }
    &__form{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 1rem;
    }
    &__label{
        color: variables.$silver;
        text-transform: uppercase;
        @include style.body-copy(small);
        padding-bottom: 4px;
        
    }
    &__input{
        max-height: 36px;
        border-radius: 4px;
        border: 1px solid  variables.$mercury;
        padding: 12px;
        margin-bottom: 1rem;
        @include style.body-copy(small);
        color: black;
        &::placeholder{
            @include style.body-copy(small);
            color: black;
            font-family: "Avenir";
        }
    }
    &__txt-area{
        border-radius: 4px;
        border: 1px solid  variables.$mercury;
        padding: 12px;
        @include style.body-copy(small);
        margin-bottom: 1rem;
        &::placeholder{
            @include style.body-copy(small);
            color: black;
            font-family: "Avenir";
        }
    }
    &__button{
        background-color: variables.$bs-black;
        color: variables.$white;
        height: 40px;
        width: 100%;
        border: 0;
        border-radius: 4px;
        text-transform: uppercase;
        margin-bottom: 1rem;
        &:hover{
            background-color: variables.$bs-black-d;
        }
    }
}

@include mediaQuery.tablet{
    .hero{
        height: 500px;
        &__heading{
            @include style.page-header(large);
            padding: 0rem 2.25rem;
        }
    }
    .about{
        @include style.section-padding(tablet);
        
        &__container{
            padding: 0 3.5rem 2.25rem;
            
        }
        &__img{
            height: 350px; 
        }
        &__heading{
            @include style.section-header(large);
            @include style.header-padding(large);
        }
        &__quote{
            @include style.sub-header(large);
        }
        &__artist{
            @include style.body-copy(large);
            font-weight: 700;
            padding-top: 0.5rem;
        }
        &__sub-container{
            flex-direction: row;
            justify-content: space-between;
        }
        &__sub-heading{
            @include style.sub-header(large);
            @include style.header-padding(large);
            padding-bottom: 1rem;
        }
        &__text{
            @include style.body-copy(large);
            width: 48%;
            &--padding{
                padding: 0;
            }
        }
    }
    .photo-gallery{
        &__container{
            @include style.section-padding(tablet);
            padding-bottom: 2.25rem;
        }
        &__heading{
            @include style.section-header(large);
            @include style.header-padding(large);
        }
        &__grid{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1.5rem;
            width: 100%;
            justify-content: space-between;
        }
        &__img{
            width: 31%;
            padding: 0;
        }
    }
}

@include mediaQuery.desktop{
   .hero{
    height: 600px;
    &__heading{
        padding: 0rem 7rem;
    }
   }
   .about{
    @include style.section-padding(desktop);
    padding-bottom: 2.25rem;
    &__container{
        padding: 0 5.5rem;
    }
    &__img{
        height: 500px;
    }
   }
   .photo-gallery{
    &__container{
        @include style.section-padding(desktop);
        padding-bottom: 2.25rem;
    }
    &__img{
        //only using hover effect for desktop becuse on mobile and tablet it would always be greyscale unless you touch the image and it would only be colored for the time you have your finger on the image
        filter: grayscale(1);
            &:hover{
                filter: grayscale(0);
            }
    }
   }
}