@use "./partials/global";
@use "./partials/font" as fontStyle;
@use "./partials/variables";
@use "./partials/media-query" as mediaQuery;

.hero{
    background-image: url("../assets/Images/hero-bio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0rem;
    height: 250px;

    &__layer{
        width: 100%;
        height: 100%;
        background-color: variables.$bs-black-overlay;
        display: flex;
        align-items: center;
        
    }
    &__heading{
        @include fontStyle.page-header(small);
        margin: 0rem;
        color: variables.$white;
        padding-left: 1rem;
    }
}

.about{
    padding: 1.5rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    &__container{

    }
    &__heading{
        @include fontStyle.section-header(small);
        margin: 0rem;
        margin-bottom: 1rem;
    }
    &__img{
        width: 100%;
    }
    &__quote{
        @include fontStyle.sub-header(small);
        margin-bottom: 0rem;
    }
    &__sub-container{
        display: flex;
        flex-direction: column;
    }
    &__sub-heading{
        @include fontStyle.sub-header(small);
        padding: 1.5rem 0rem 1rem;
        margin: 0rem;
    }
    
}

.photo-gallery{
    padding: 1.5rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    background-color: variables.$alabaster;
    &__heading{
        @include fontStyle.section-header(small);
        margin: 0rem 0rem 1rem;
    }
    &__container{
        display: flex;
        flex-direction: column;
    }
    &__img{
        width: 100%;
        padding-bottom: 1rem;
    }
}

@include mediaQuery.tablet{
    .hero{
        height: 400px;
        &__heading{
            @include fontStyle.page-header(large);
            padding: 0rem 2rem;
        }
    }
    .about{
        padding: 0rem 2rem;
        &__container{
            padding: 0rem 4rem;
        }
        &__heading{
            @include fontStyle.section-header(large);
            margin-top: 3rem;
        }
        &__quote{
            @include fontStyle.sub-header(large);
        }
        &__artist{
            @include fontStyle.body-copy(large);
            font-weight: 700;
        }
        &__sub-container{
            flex-direction: row;
            justify-content: space-between;
        }
        &__sub-heading{
            @include fontStyle.sub-header(large);
        }
        &__sub-text{
            @include fontStyle.body-copy(large);
            width: 48%;
        }
    }
    .photo-gallery{
        padding: 2rem 2rem;
        &__heading{
            @include fontStyle.section-header(large);
        }
        &__container{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 1.5rem;
        }
        &__img{
            padding: 0;
            
        }
    }
}

@include mediaQuery.desktop{
   .hero{
    height: 600px;
    &__heading{
        padding: 0rem 6rem;
    }
   }
   .about{
    padding: 0rem 6rem;
   }
   .photo-gallery{
    padding: 2rem 6rem;
   }
}